# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Log files
npm-debug.log*
yarn-error.log
yarn-debug.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
# See https://code.visualstudio.com/docs/editor/versioncontrol#_git-support
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Miscellaneous
/.angular/cache
.sass-cache/
/coverage
/testem.json

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
